html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

body {
  background-color: #7d8c80;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: sans-serif;
}
nav {
  background-color: #3a4b3d;
  font-size: 20px;
}
h1{
  font-family: "Oregano", cursive;
  text-align: center;
}
#imgDG {
  width: 60px;
  height: 60px;
  border-radius: 4px;
}
#imgCart,
#imgProfile {
  width: 45px;
  height: 45px;
  border-radius: 10px;
}
.navbar-nav-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.navbar-nav-center .nav-link {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  color: #2b4636;
}

.navbar-nav-center .nav-link:hover {
  color: #7a9f81;
}
.navbar {
  background-color: #3a4b3d; 
  font-size: 16px;
}
.navbar-Cart,
.navebar-Profile {
  padding: 3px 9px 3px 3px;
}

h1{
  color:#1b3723;
}
.navbar-collapse {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  gap: 15px;
}

.nav-link {
  color: white;
  padding: 15px;
  text-align: center;
}

.nav-link.active {
  font-weight: bold;
}

.center-div {
  display: flex;
  justify-content: center;
}

.faq-container {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
}
.faq-header {
  background-color: #668f6a;
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #314d2e;
  border-radius: 8px;
  transition: background-color 0.3s;
}
.faq-header:hover {
  background-color: #274e3a;
}
.faq-content {
  padding: 15px;
  display: none;
  border-top: 1px solid #201c13;;
}
.arrow {
  transition: transform 0.3s;
}
.arrow.open {
  transform: rotate(180deg);
}
#imgDG {
  width: 60px;
  height: 60px;
  border-radius: 4px;
}
#imgCart,
#imgProfile {
  width: 45px;
  height: 45px;
  border-radius: 10px;
}

.footer {
  background-color: #3a4b3d;
  padding: 30px 0;
  color: #ffffff;
}
.footer-logo {
  max-width: 150px;
}
.footer-links {
  list-style: none;
  padding: 0;
}
.footer-links li {
  margin-bottom: 10px;
}
.footer-links a {
  color: #ffffff;
  text-decoration: none;
}
.footer-links a:hover {
  text-decoration: underline;
  color: #7a9f81;
}
.social-icons a {
  color: #ffffff;
  margin: 0 2px;
  font-size: 20px;
  text-decoration: none;
}
.social-icons a:hover {
  color: #dde4de;
}
.imgSocial{
  width: 40px;
  height: 40px;
  border-radius: 22px;
}

@media (max-width: 768px) {
  .side-nav {
    width: 100%;
    padding: 10px;
  }

  .main-container {
    flex-direction: column;
  }

  .navbar-collapse {
    flex-direction: column;
  }

  .navbar-nav {
    margin: 10px 0;
  }

  .navbar-Cart,
  .navbar-Profile {
    margin: 10px 0;
  }
}

@media (max-width: 576px) {
  .footer {
    padding: 20px 10px;
  }

  .footer-logo {
    max-width: 100px;
  }

  .footer-links {
    text-align: center;
  }
}